
<% if user_signed_in? %>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Position</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>User ID</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @prospects.each do |prospect| %>
      <% if prospect.user == current_user %>
      <tr>
      <td>
      <%= link_to prospect.first_name + ' ' + prospect.last_name, prospect %>
      </td>

        <td><%= prospect.company %></td>
        <td><%= prospect.position %></td>
        <td><%= prospect.address %></td>
        <td><%= prospect.phone %></td>
        <td><%= prospect.email %></td>
        <td><%= prospect.user_id %></td>

        <td><%= link_to 'Delete', prospect, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prospect', new_prospect_path, class:"btn btn-secondary" %>
<% else %>

<h1>Hello World!</h1>
This is my first Rails webpage...

<% end %>